body {
    background-color: bisque;
}

#center {
    text-align: center;
    margin-top: 270px;
}

input {
    border-radius: 15px;
    width: 250px;
    height: 30px;
    text-align: center;
}

#title {
    font-size: 100px;
}

.button {
    margin-top: 40px;
    width: 300px;
    height: 50px;
    border-radius: 20px;
    background-color: rgb(196, 233, 61);
    color: white;
    font-size: 30px;
}